<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Climate Change News</title>
</head>
<body>
    <!-- <h2>Climate Change News API</h2>

<p> Api for climate change news from some pre-set newspapers</p>

<p> We cover some newspapers</p>
<ul>

<li>rice_based</li>
<li>soups_and_stews</li>
<li>bean_based</li>
<li>meat_based</li>
<li>yam_based</li>
<li>cassava_based</li>
<li>snacks</li>
<li>beverages</li>
<li>others</li>
</ul>


<h2> Endpoints </h2>
<h3> news/<newspaper name>  </h3>
<p> Get a json response of the specified newspaper</p>
<p> example:</p>
{
    "title": heading of the news,
    "url": link to read the full story
    "source": name of the specified newspaper
}


<p>URL: https://www.nigerianfoods.herokuapp.com/news/<newspaper name></p>
<p>HTTP method: GET</p>
<br>

<h3> news </h3>
<p>Get a json response of latest climate news from all the pre-set newspapers</p>
<p> example:</p>

{
    "title": heading of the news,
    "url": link to read the full story
    "source": name of the specified newspaper
}


<p>URL: https://www.nigerianfoods.herokuapp.com/news</p>
<p>HTTP method: GET</p> -->
<%- body %>
</body>
</html>
